body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1780 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:0px;
  width:430px;
  height:880px;
}
#u1780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:667px;
  background:inherit;
  background-color:rgba(199, 29, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1781 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:126px;
  width:379px;
  height:667px;
}
#u1781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:120px;
  background:inherit;
  background-color:rgba(48, 54, 67, 1);
  border:none;
  border-top:0px;
  border-radius:25px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1782 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:126px;
  width:377px;
  height:120px;
}
#u1782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:718px;
  width:375px;
  height:55px;
}
#u1785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:727px;
  width:47px;
  height:35px;
}
#u1786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:726px;
  width:52px;
  height:40px;
}
#u1787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:723px;
  width:45px;
  height:38px;
}
#u1788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:727px;
  width:47px;
  height:41px;
}
#u1789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:757px;
  width:31px;
  height:16px;
}
#u1790_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:757px;
  width:31px;
  height:16px;
}
#u1791_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:757px;
  width:31px;
  height:16px;
}
#u1792_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:757px;
  width:31px;
  height:16px;
}
#u1793_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:723px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u1794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:725px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u1795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:752px;
  width:375px;
  height:21px;
}
#u1797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:758px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u1798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:760px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u1799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:22px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:104px;
  width:380px;
  height:22px;
}
#u1804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:108px;
  width:15px;
  height:15px;
}
#u1805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:109px;
  width:46px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u1806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:110px;
  width:15px;
  height:11px;
}
#u1807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:109px;
  width:46px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u1808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:109px;
  width:30px;
  height:13px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u1809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:111px;
  width:20px;
  height:9px;
}
#u1810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:154px;
  width:65px;
  height:64px;
}
#u1811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:159px;
  width:49px;
  height:49px;
}
#u1812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:158px;
  width:60px;
  height:18px;
  color:#FFFFFF;
}
#u1813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:181px;
  width:23px;
  height:13px;
  color:#FFFFFF;
}
#u1814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:181px;
  width:29px;
  height:32px;
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:190px;
  width:56px;
  height:21px;
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  word-wrap:break-word;
}
#u1819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:190px;
  width:18px;
  height:20px;
}
#u1819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:12px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:194px;
  width:11px;
  height:12px;
}
#u1820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:53px;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:175px;
  width:69px;
  height:53px;
}
#u1821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:287px;
  width:355px;
  height:91px;
}
#u1822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:266px;
  width:355px;
  height:122px;
  overflow:hidden;
}
#u1824_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:122px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1824_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:113px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:355px;
  height:113px;
}
#u1825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:98px;
  width:15px;
  height:15px;
}
#u1826_img.selected {
}
#u1826.selected {
}
#u1826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:98px;
  width:15px;
  height:15px;
}
#u1827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:98px;
  width:15px;
  height:15px;
}
#u1828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1824_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:122px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1824_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:113px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:355px;
  height:113px;
}
#u1829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:98px;
  width:15px;
  height:15px;
}
#u1830_img.selected {
}
#u1830.selected {
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:98px;
  width:15px;
  height:15px;
}
#u1831_img.selected {
}
#u1831.selected {
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:98px;
  width:15px;
  height:15px;
}
#u1832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1824_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:122px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1824_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:113px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:355px;
  height:113px;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:98px;
  width:15px;
  height:15px;
}
#u1834_img.selected {
}
#u1834.selected {
}
#u1834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:98px;
  width:15px;
  height:15px;
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:98px;
  width:15px;
  height:15px;
}
#u1836_img.selected {
}
#u1836.selected {
}
#u1836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:419px;
  width:83px;
  height:38px;
  color:#FFFFFF;
}
#u1837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u1838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:419px;
  width:83px;
  height:38px;
  color:#FFFFFF;
}
#u1838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u1839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:419px;
  width:83px;
  height:38px;
  color:#FFFFFF;
}
#u1839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u1840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:484px;
  width:324px;
  height:98px;
}
#u1840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:496px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:527px;
  width:92px;
  height:33px;
}
#u1842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u1843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:527px;
  width:92px;
  height:33px;
}
#u1843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u1844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:501px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FF0000;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:611px;
  width:324px;
  height:98px;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:620px;
  width:63px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:652px;
  width:213px;
  height:35px;
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:209px;
  word-wrap:break-word;
}
#u1848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:625px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#FF0000;
}
#u1848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:566px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:32px;
  width:300px;
  height:566px;
}
#u1849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:564px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:58px;
  width:272px;
  height:564px;
}
#u1850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
