body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:618px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1590 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:6px;
  width:430px;
  height:880px;
}
#u1590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:674px;
  background:inherit;
  background-color:rgba(48, 54, 67, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1591 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:110px;
  width:379px;
  height:674px;
}
#u1591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1592 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:110px;
  width:380px;
  height:676px;
}
#u1592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:260px;
  height:50px;
}
#u1593 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:726px;
  width:250px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:246px;
  word-wrap:break-word;
}
#u1594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1594 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:91px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u1594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:30px;
  word-wrap:break-word;
}
#u1595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
  background:inherit;
  background-color:rgba(199, 29, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1595 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:136px;
  width:380px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  word-wrap:break-word;
}
#u1596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1596 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:210px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1597_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:50px;
  height:50px;
}
#u1597 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:194px;
  width:40px;
  height:40px;
}
#u1597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1598 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:260px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1599 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:313px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u1599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1600 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:342px;
  width:70px;
  height:22px;
  font-size:16px;
}
#u1600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:260px;
  width:23px;
  height:23px;
}
#u1601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:212px;
  width:22px;
  height:18px;
}
#u1602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:309px;
  width:25px;
  height:25px;
}
#u1603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:300px;
  width:341px;
  height:1px;
}
#u1604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:146px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:30px;
  word-wrap:break-word;
}
#u1606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:398px;
  width:225px;
  height:19px;
  font-size:16px;
}
#u1606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:448px;
  width:168px;
  height:19px;
  font-size:16px;
}
#u1607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u1608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:398px;
  width:32px;
  height:18px;
}
#u1608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:367px;
  width:110px;
  height:22px;
  color:#999999;
}
#u1609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u1610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:444px;
  width:28px;
  height:28px;
}
#u1610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:351px;
  width:23px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:449px;
  width:32px;
  height:18px;
}
#u1612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:486px;
  width:65px;
  height:15px;
  font-size:16px;
}
#u1613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:485px;
  width:25px;
  height:25px;
}
#u1614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:488px;
  width:41px;
  height:18px;
  color:#999999;
}
#u1615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u1616 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:434px;
  width:341px;
  height:1px;
}
#u1616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:566px;
  width:68px;
  height:16px;
  color:#999999;
}
#u1617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:518px;
  width:214px;
  height:19px;
  font-size:16px;
}
#u1618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u1619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:517px;
  width:32px;
  height:18px;
}
#u1619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:566px;
  width:65px;
  height:20px;
  font-size:16px;
}
#u1620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:606px;
  width:81px;
  height:20px;
  font-size:16px;
}
#u1621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:316px;
  width:32px;
  height:18px;
}
#u1622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:555px;
  width:341px;
  height:1px;
}
#u1623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
