body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:667px;
  background:inherit;
  background-color:rgba(199, 29, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:126px;
  width:379px;
  height:667px;
  opacity:0.5;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:136px;
  background:inherit;
  background-color:rgba(48, 54, 67, 1);
  border:none;
  border-top:0px;
  border-radius:25px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:126px;
  width:377px;
  height:136px;
  opacity:0.5;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:718px;
  width:375px;
  height:55px;
  opacity:0.5;
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:727px;
  width:47px;
  height:35px;
  opacity:0.5;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:726px;
  width:52px;
  height:40px;
  opacity:0.5;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:723px;
  width:45px;
  height:38px;
  opacity:0.5;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:727px;
  width:47px;
  height:41px;
  opacity:0.5;
}
#u1082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:757px;
  width:31px;
  height:16px;
}
#u1083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:757px;
  width:31px;
  height:16px;
}
#u1084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:757px;
  width:31px;
  height:16px;
}
#u1085_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:757px;
  width:31px;
  height:16px;
}
#u1086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:723px;
  width:49px;
  height:1px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:725px;
  width:49px;
  height:1px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:752px;
  width:375px;
  height:21px;
  opacity:0.5;
}
#u1090_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:758px;
  width:49px;
  height:1px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1091_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:760px;
  width:49px;
  height:1px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:22px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:104px;
  width:378px;
  height:22px;
}
#u1094_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:157px;
  width:65px;
  height:64px;
  opacity:0.5;
}
#u1095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:165px;
  width:49px;
  height:49px;
  opacity:0.5;
}
#u1096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:157px;
  width:60px;
  height:18px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:181px;
  width:23px;
  height:13px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:181px;
  width:29px;
  height:32px;
  opacity:0.5;
}
#u1099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:182px;
  width:75px;
  height:26px;
  opacity:0.5;
}
#u1102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:182px;
  width:24px;
  height:25px;
  opacity:0.5;
}
#u1103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:187px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u1104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:53px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:175px;
  width:69px;
  height:53px;
  opacity:0.5;
}
#u1105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:287px;
  width:355px;
  height:109px;
  opacity:0.5;
}
#u1106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:279px;
  width:355px;
  height:122px;
  overflow:hidden;
}
#u1108_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:122px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1108_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:113px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:355px;
  height:113px;
}
#u1109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:98px;
  width:15px;
  height:15px;
}
#u1110_img.selected {
}
#u1110.selected {
}
#u1110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:98px;
  width:15px;
  height:15px;
}
#u1111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:98px;
  width:15px;
  height:15px;
}
#u1112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1108_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:122px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1108_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:113px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:355px;
  height:113px;
}
#u1113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:98px;
  width:15px;
  height:15px;
}
#u1114_img.selected {
}
#u1114.selected {
}
#u1114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:98px;
  width:15px;
  height:15px;
}
#u1115_img.selected {
}
#u1115.selected {
}
#u1115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:98px;
  width:15px;
  height:15px;
}
#u1116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1108_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:122px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1108_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:113px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:355px;
  height:113px;
}
#u1117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:98px;
  width:15px;
  height:15px;
}
#u1118_img.selected {
}
#u1118.selected {
}
#u1118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:98px;
  width:15px;
  height:15px;
}
#u1119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:98px;
  width:15px;
  height:15px;
}
#u1120_img.selected {
}
#u1120.selected {
}
#u1120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:431px;
  width:83px;
  height:38px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u1122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:431px;
  width:83px;
  height:38px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u1123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:431px;
  width:83px;
  height:38px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u1124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:498px;
  width:324px;
  height:98px;
  opacity:0.5;
}
#u1124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:512px;
  width:75px;
  height:22px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:544px;
  width:92px;
  height:33px;
  opacity:0.5;
}
#u1126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u1127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:544px;
  width:92px;
  height:33px;
  opacity:0.5;
}
#u1127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u1128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:516px;
  width:37px;
  height:14px;
  opacity:0.5;
  font-size:12px;
  color:#FF0000;
}
#u1128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:611px;
  width:324px;
  height:98px;
  opacity:0.5;
}
#u1129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:620px;
  width:63px;
  height:22px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:652px;
  width:213px;
  height:35px;
  opacity:0.5;
}
#u1131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:209px;
  word-wrap:break-word;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:625px;
  width:37px;
  height:14px;
  opacity:0.5;
  font-size:12px;
  color:#FF0000;
}
#u1132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:0px;
  width:430px;
  height:880px;
  opacity:0.5;
}
#u1133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:667px;
  background:inherit;
  background-color:rgba(199, 29, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:126px;
  width:379px;
  height:667px;
  opacity:0.5;
}
#u1134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:136px;
  background:inherit;
  background-color:rgba(48, 54, 67, 1);
  border:none;
  border-top:0px;
  border-radius:25px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:126px;
  width:377px;
  height:136px;
  opacity:0.5;
}
#u1135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:718px;
  width:375px;
  height:55px;
  opacity:0.5;
}
#u1138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:727px;
  width:47px;
  height:35px;
  opacity:0.5;
}
#u1139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:726px;
  width:52px;
  height:40px;
  opacity:0.5;
}
#u1140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:723px;
  width:45px;
  height:38px;
  opacity:0.5;
}
#u1141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:727px;
  width:47px;
  height:41px;
  opacity:0.5;
}
#u1142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:757px;
  width:31px;
  height:16px;
}
#u1143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:757px;
  width:31px;
  height:16px;
}
#u1144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:757px;
  width:31px;
  height:16px;
}
#u1145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:757px;
  width:31px;
  height:16px;
}
#u1146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:723px;
  width:49px;
  height:1px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:725px;
  width:49px;
  height:1px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:752px;
  width:375px;
  height:21px;
  opacity:0.5;
}
#u1150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:758px;
  width:49px;
  height:1px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:760px;
  width:49px;
  height:1px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:22px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:104px;
  width:378px;
  height:22px;
}
#u1154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:64px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:157px;
  width:65px;
  height:64px;
  opacity:0.5;
}
#u1155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:165px;
  width:49px;
  height:49px;
  opacity:0.5;
}
#u1156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:157px;
  width:60px;
  height:18px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:181px;
  width:23px;
  height:13px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:181px;
  width:29px;
  height:32px;
  opacity:0.5;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:182px;
  width:75px;
  height:26px;
  opacity:0.5;
}
#u1162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:182px;
  width:24px;
  height:25px;
  opacity:0.5;
}
#u1163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:187px;
  width:15px;
  height:15px;
  opacity:0.5;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:53px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:175px;
  width:69px;
  height:53px;
  opacity:0.5;
}
#u1165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:287px;
  width:355px;
  height:109px;
  opacity:0.5;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:279px;
  width:355px;
  height:122px;
  overflow:hidden;
}
#u1168_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:122px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1168_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:113px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:355px;
  height:113px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:98px;
  width:15px;
  height:15px;
}
#u1170_img.selected {
}
#u1170.selected {
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:98px;
  width:15px;
  height:15px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:98px;
  width:15px;
  height:15px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1168_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:122px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1168_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:113px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:355px;
  height:113px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:98px;
  width:15px;
  height:15px;
}
#u1174_img.selected {
}
#u1174.selected {
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:98px;
  width:15px;
  height:15px;
}
#u1175_img.selected {
}
#u1175.selected {
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:98px;
  width:15px;
  height:15px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1168_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:122px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1168_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:113px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:355px;
  height:113px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:98px;
  width:15px;
  height:15px;
}
#u1178_img.selected {
}
#u1178.selected {
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:98px;
  width:15px;
  height:15px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:98px;
  width:15px;
  height:15px;
}
#u1180_img.selected {
}
#u1180.selected {
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:431px;
  width:83px;
  height:38px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u1182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:431px;
  width:83px;
  height:38px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(153, 102, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:431px;
  width:83px;
  height:38px;
  opacity:0.5;
  color:#FFFFFF;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:498px;
  width:324px;
  height:98px;
  opacity:0.5;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:512px;
  width:75px;
  height:22px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:544px;
  width:92px;
  height:33px;
  opacity:0.5;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:544px;
  width:92px;
  height:33px;
  opacity:0.5;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u1188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:516px;
  width:37px;
  height:14px;
  opacity:0.5;
  font-size:12px;
  color:#FF0000;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:611px;
  width:324px;
  height:98px;
  opacity:0.5;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:620px;
  width:63px;
  height:22px;
  opacity:0.5;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:652px;
  width:213px;
  height:35px;
  opacity:0.5;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:209px;
  word-wrap:break-word;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:625px;
  width:37px;
  height:14px;
  opacity:0.5;
  font-size:12px;
  color:#FF0000;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:181px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:353px;
  width:355px;
  height:181px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:367px;
  width:24px;
  height:18px;
  color:#FFFFFF;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:392px;
  width:145px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:426px;
  width:74px;
  height:62px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:426px;
  width:74px;
  height:62px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:62px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:426px;
  width:74px;
  height:62px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:433px;
  width:49px;
  height:49px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:433px;
  width:49px;
  height:49px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:431px;
  width:49px;
  height:49px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
