body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:529px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(25, 87, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:106px;
  width:375px;
  height:667px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(25, 87, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:108px;
  width:375px;
  height:667px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:240px;
  width:363px;
  height:508px;
  overflow:hidden;
}
#u794_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:508px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u794_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:508px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:508px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:0px;
  width:430px;
  height:880px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:667px;
  background:inherit;
  background-color:rgba(199, 29, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:106px;
  width:376px;
  height:667px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:149px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:107px;
  width:376px;
  height:149px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'細明體_HKSCS-ExtB Bold', '細明體_HKSCS-ExtB';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:122px;
  width:167px;
  height:56px;
  font-family:'細明體_HKSCS-ExtB Bold', '細明體_HKSCS-ExtB';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:163px;
  word-wrap:break-word;
}
#u800 {
  position:absolute;
  left:169px;
  top:224px;
}
#u800_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background-image:none;
}
#u800_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  border:none;
  border-radius:7px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  font-size:16px;
  color:#000000;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:7px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:308px;
  width:73px;
  height:28px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#000000;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:297px;
  width:23px;
  height:21px;
}
#u804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:327px;
  width:23px;
  height:21px;
}
#u805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  border:none;
  border-radius:7px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:415px;
  width:73px;
  height:28px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#000000;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:393px;
  width:23px;
  height:21px;
}
#u808_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:414px;
  width:23px;
  height:21px;
}
#u809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:435px;
  width:23px;
  height:21px;
}
#u810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:106px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:129px;
  width:174px;
  height:106px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812 {
  position:absolute;
  left:336px;
  top:223px;
}
#u812_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background-image:none;
}
#u812_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:7px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  font-size:16px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:242px;
  width:363px;
  height:508px;
  overflow:hidden;
}
#u814_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:508px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u814_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:508px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:508px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:6px;
  -moz-box-shadow:0px 0px 3px 0px rgba(201, 201, 201, 0.309803921568627) inset;
  -webkit-box-shadow:0px 0px 3px 0px rgba(201, 201, 201, 0.309803921568627) inset;
  box-shadow:0px 0px 3px 0px rgba(201, 201, 201, 0.309803921568627) inset;
  font-size:11px;
  color:#AEAEAE;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:262px;
  width:140px;
  height:20px;
  font-size:11px;
  color:#AEAEAE;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:266px;
  width:13px;
  height:11px;
  color:#CCCCCC;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:61px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:540px;
  width:55px;
  height:61px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:262px;
  width:61px;
  height:18px;
}
#u819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 104, 141, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:280px;
  width:184px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:180px;
  word-wrap:break-word;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:718px;
  width:375px;
  height:55px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:727px;
  width:47px;
  height:35px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:726px;
  width:52px;
  height:40px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:723px;
  width:45px;
  height:38px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:727px;
  width:47px;
  height:41px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:757px;
  width:31px;
  height:16px;
}
#u828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:757px;
  width:31px;
  height:16px;
}
#u829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:757px;
  width:31px;
  height:16px;
}
#u830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:757px;
  width:31px;
  height:16px;
}
#u831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:723px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:725px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:752px;
  width:375px;
  height:21px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:758px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:760px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:302px;
  width:275px;
  height:399px;
  overflow:hidden;
}
#u838_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:399px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u838_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:488px;
  overflow:hidden;
  touch-action:none;
}
#u839_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:488px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u839_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:14px;
  width:266px;
  height:76px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:61px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:22px;
  width:89px;
  height:61px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:16px;
  width:116px;
  height:25px;
}
#u843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:25px;
  font-family:'Bauhaus 93 Bold', 'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:114px;
  width:266px;
  height:76px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:209px;
  width:266px;
  height:92px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:318px;
  width:266px;
  height:88px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:72px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:114px;
  width:63px;
  height:72px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:68px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:217px;
  width:86px;
  height:68px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:213px;
  width:162px;
  height:25px;
}
#u849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  font-family:'Bauhaus 93 Bold', 'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:33px;
  width:160px;
  height:25px;
}
#u850_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:233px;
  width:160px;
  height:21px;
}
#u851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:21px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:243px;
  width:160px;
  height:21px;
}
#u852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:21px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:73px;
  width:26px;
  height:16px;
}
#u853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bell MT Normal', 'Bell MT';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:276px;
  width:26px;
  height:16px;
}
#u854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:280px;
  width:10px;
  height:8px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:276px;
  width:26px;
  height:16px;
}
#u856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:68px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:326px;
  width:86px;
  height:68px;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:113px;
  width:151px;
  height:25px;
}
#u858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  font-family:'Bauhaus 93 Bold', 'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:318px;
  width:162px;
  height:25px;
}
#u859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  font-family:'Bauhaus 93 Bold', 'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:336px;
  width:160px;
  height:21px;
}
#u860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:21px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AEAEAE;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:354px;
  width:67px;
  height:13px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#AEAEAE;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#AEAEAE;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:136px;
  width:160px;
  height:21px;
  font-size:9px;
  color:#AEAEAE;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:169px;
  width:30px;
  height:16px;
}
#u863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background-color:transparent;
  font-family:'Bell MT Normal', 'Bell MT';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:384px;
  width:30px;
  height:16px;
}
#u864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background-color:transparent;
  font-family:'Bell MT Normal', 'Bell MT';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:77px;
  width:10px;
  height:8px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:73px;
  width:26px;
  height:16px;
}
#u866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:174px;
  width:10px;
  height:8px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:170px;
  width:26px;
  height:16px;
}
#u868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:388px;
  width:10px;
  height:8px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:384px;
  width:26px;
  height:16px;
}
#u870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:174px;
  width:10px;
  height:8px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:170px;
  width:26px;
  height:16px;
}
#u872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:77px;
  width:10px;
  height:8px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:73px;
  width:26px;
  height:16px;
}
#u874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:280px;
  width:10px;
  height:8px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:276px;
  width:26px;
  height:16px;
}
#u876_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:388px;
  width:10px;
  height:8px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:384px;
  width:26px;
  height:16px;
}
#u878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:424px;
  width:266px;
  height:88px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:68px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:432px;
  width:86px;
  height:68px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:424px;
  width:162px;
  height:25px;
}
#u881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  font-family:'Bauhaus 93 Bold', 'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#6B6B6B;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:442px;
  width:160px;
  height:21px;
}
#u882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:21px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:490px;
  width:30px;
  height:16px;
}
#u883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background-color:transparent;
  font-family:'Bell MT Normal', 'Bell MT';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:494px;
  width:10px;
  height:8px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:490px;
  width:26px;
  height:16px;
}
#u885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:494px;
  width:10px;
  height:8px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:490px;
  width:26px;
  height:16px;
}
#u887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background-color:transparent;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#AEAEAE;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:261px;
  width:30px;
  height:18px;
}
#u888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(25, 87, 136, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:280px;
  width:190px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:177px;
  width:160px;
  height:20px;
}
#u890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:193px;
  width:160px;
  height:20px;
}
#u891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
