body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:509px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:0px;
  width:430px;
  height:880px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:667px;
  background:inherit;
  background-color:rgba(199, 29, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:106px;
  width:379px;
  height:667px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:149px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:106px;
  width:379px;
  height:149px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'細明體_HKSCS-ExtB Bold', '細明體_HKSCS-ExtB Regular', '細明體_HKSCS-ExtB';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:121px;
  width:164px;
  height:56px;
  font-family:'細明體_HKSCS-ExtB Bold', '細明體_HKSCS-ExtB Regular', '細明體_HKSCS-ExtB';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:106px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:128px;
  width:177px;
  height:106px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638 {
  position:absolute;
  left:313px;
  top:222px;
}
#u638_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background-image:none;
}
#u638_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  border:none;
  border-radius:7px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  font-size:16px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(153, 204, 204, 1);
  border:none;
  border-radius:7px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:414px;
  width:73px;
  height:29px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#000000;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:392px;
  width:23px;
  height:21px;
}
#u642_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:413px;
  width:23px;
  height:21px;
}
#u643_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:434px;
  width:23px;
  height:21px;
}
#u644_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u645 {
  position:absolute;
  left:144px;
  top:223px;
}
#u645_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background-image:none;
}
#u645_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  border:none;
  border-radius:7px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
  font-size:16px;
  color:#000000;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:7px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:307px;
  width:73px;
  height:29px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#000000;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:296px;
  width:23px;
  height:21px;
}
#u649_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:326px;
  width:23px;
  height:21px;
}
#u650_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:240px;
  width:363px;
  height:508px;
  overflow:hidden;
}
#u651_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:508px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u651_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:508px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:508px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:6px;
  -moz-box-shadow:0px 0px 3px 0px rgba(201, 201, 201, 0.309803921568627) inset;
  -webkit-box-shadow:0px 0px 3px 0px rgba(201, 201, 201, 0.309803921568627) inset;
  box-shadow:0px 0px 3px 0px rgba(201, 201, 201, 0.309803921568627) inset;
  font-size:11px;
  color:#AEAEAE;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:256px;
  width:142px;
  height:20px;
  font-size:11px;
  color:#AEAEAE;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:11px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:260px;
  width:13px;
  height:11px;
  color:#CCCCCC;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:261px;
  width:58px;
  height:18px;
}
#u655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:261px;
  width:30px;
  height:18px;
}
#u656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:61px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:539px;
  width:56px;
  height:61px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:177px;
  width:155px;
  height:20px;
}
#u658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 104, 141, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:279px;
  width:176px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:172px;
  word-wrap:break-word;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:718px;
  width:375px;
  height:55px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:727px;
  width:47px;
  height:35px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:40px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:726px;
  width:52px;
  height:40px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:38px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:723px;
  width:45px;
  height:38px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:41px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:727px;
  width:47px;
  height:41px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:757px;
  width:31px;
  height:16px;
}
#u667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:757px;
  width:31px;
  height:16px;
}
#u668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:757px;
  width:31px;
  height:16px;
}
#u669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:757px;
  width:31px;
  height:16px;
}
#u670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:723px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:2px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:725px;
  width:49px;
  height:1px;
  color:#FFFFFF;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:6px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:752px;
  width:379px;
  height:21px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:758px;
  width:50px;
  height:1px;
  color:#FFFFFF;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:2px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:760px;
  width:50px;
  height:1px;
  color:#FFFFFF;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:309px;
  width:275px;
  height:399px;
  overflow:hidden;
}
#u677_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:399px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u677_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:488px;
  overflow:hidden;
  touch-action:none;
}
#u678_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:488px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u678_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:103px;
  width:97px;
  height:17px;
}
#u679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:13px;
  width:129px;
  height:90px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:139px;
  width:129px;
  height:90px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682 {
  position:absolute;
  left:143px;
  top:14px;
}
#u682_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:129px;
  height:106px;
  background-image:none;
}
#u682_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:90px;
  width:65px;
  height:16px;
}
#u684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:229px;
  width:86px;
  height:14px;
}
#u685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:138px;
  width:129px;
  height:90px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:228px;
  width:85px;
  height:14px;
}
#u687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:256px;
  width:129px;
  height:90px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:346px;
  width:110px;
  height:15px;
}
#u689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:256px;
  width:129px;
  height:90px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:345px;
  width:55px;
  height:16px;
}
#u691_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:530px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:376px;
  width:129px;
  height:90px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:125px;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:90px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:376px;
  width:129px;
  height:90px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:466px;
  width:94px;
  height:15px;
}
#u695_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:466px;
  width:46px;
  height:15px;
}
#u696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:193px;
  width:155px;
  height:20px;
}
#u697_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(25, 87, 136, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:280px;
  width:190px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
